* {
    max-width: 100%;
    margin: auto;
}

div {
    border-radius: 5px;
}

#header {
    height: 30px;
    width: 100%;
    background-color: rgb(93, 132, 209);
    position: fixed;
    z-index: 1;
    image-orientation: from-image;
}

#footer {
    height: 40px;
    width: 100%;
    background-color: rgb(93, 132, 209);
    position: relative;
}

.left-side {
    height: 1000px;
    width: 45px;
    background-color: rgb(93, 132, 209);
    float: left;
    position: fixed;
}

.right-side {
    height: 1010px;
    width: 45px;
    background-color: rgb(93, 132, 209);
    float: right;
    position: inherit;
}

.content {
    display: inline-block;
    margin-top: 6px;
    margin-left: 80px;
    width: 90%;
    height: 1000px;
    font-size: medium;
    font-style: italic;
}

p,
li {
    font-family: 'Source Serif Pro', serif;
}

li {
    font-style: italic;
    font-weight: bold;
}

.paragraphstyle {
    font-style: 20px;
    font-weight: bold;
    background-color: bisque;
}

#copyright {
    font-family: Arial, sans-serif;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}